<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city</key>
		<string>杭州</string>
	</dict>
	<dict>
		<key>city</key>
		<string>上海</string>
	</dict>
	<dict>
		<key>city</key>
		<string>北京</string>
	</dict>
	<dict>
		<key>city</key>
		<string>温州</string>
	</dict>
	<dict>
		<key>city</key>
		<string>诸暨</string>
	</dict>
	<dict>
		<key>city</key>
		<string>宁波</string>
	</dict>
	<dict>
		<key>city</key>
		<string>北京</string>
	</dict>
	<dict>
		<key>city</key>
		<string>金华</string>
	</dict>
	<dict>
		<key>city</key>
		<string>滁州</string>
	</dict>
	<dict>
		<key>city</key>
		<string>乌镇</string>
	</dict>
	<dict>
		<key>city</key>
		<string>广州</string>
	</dict>
	<dict>
		<key>city</key>
		<string>厦门</string>
	</dict>
	<dict>
		<key>city</key>
		<string>深圳</string>
	</dict>
	<dict>
		<key>city</key>
		<string>秦皇岛</string>
	</dict>
	<dict>
		<key>city</key>
		<string>海南</string>
	</dict>
	<dict>
		<key>city</key>
		<string>成都</string>
	</dict>
	<dict>
		<key>city</key>
		<string>赣州</string>
	</dict>
	<dict>
		<key>city</key>
		<string>鹰潭</string>
	</dict>
	<dict>
		<key>city</key>
		<string>绍兴</string>
	</dict>
</array>
</plist>
